

    <div class ="container text-center">
      <% if show_links %>
          <h3> <%=link_to product.name, product%>  </h3>
          <p> <%= link_to product.category.name, product.category%> </p>
      <%else%>
          <h3> <%=product.name%>  </h3>
          <p> <%=product.category.name%> </p>
      <%end%>

      <p> Price: <%= number_to_currency product.price%> </p>
      <p> Desc:  <%= product.description%>   </p>
      <% if show_links %>
        <% if product.image.present? %>
          <p> <%=  image_tag product.image.thumbnail.url, class: "img-circle", alt: " Product #{product.name} " %> </p>
        <% end %>
       <% end %>
    </div>