<!DOCTYPE html>
<html>
  <head>
    <title>CanCorp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



<%# this below was added for shopping cart %>
    <title>ShoppingCartExample</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if request.ssl? %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% else %>
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  </head>

  <body>
   <header>
      <h1> Welcome To CanCorp </h1>
        <nav>
          <ul>
            <li  class = 'd-inline-block'> <%= link_to 'Home', root_path %></li>
            <li  class = 'd-inline-block'><%= link_to 'Products', products_path %> </li>
            <li  class = 'd-inline-block'><%= link_to 'Categories', categories_path %> </li>
            <li  class = 'd-inline-block', padding = "32px"><%= link_to 'About Us', static_path(permalink: 'about-us') %> </li>
          </ul>
        </nav>
    </header>

						    <%= form_tag(search_results_path, method: "get") do %>
						      <%= label_tag(:query, "Search for:") %>
						      <%= text_field_tag(:query) %>
                  <%= select_tag(:queryc, options_for_select(Category.all.map{|cat| [cat.name, cat.id]})) %>
						      <%= submit_tag("Search") %>
						    <% end %>
<br><br>

  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h1><%= link_to "My Store", root_path %></h1>
          <h4> Categories </h4>
            <% Category.all.each do |category| %>
              <li class = 'd-inline-block' ><%= link_to category.name, category %> </li>
            <% end %>
      </div>
      <div class="col-xs-6 text-right">
        <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
      </div>
    </div>
    <br>



    <%= yield %>
    </div>
  </body>
</html>
