<!DOCTYPE html>
<html>
  <head>
    <title>CanCorp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
      <h1> NAVIGATION </h1>
        <nav>
          <ul>
            <li> <%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Products', products_path %> </li>
            <li><%= link_to 'Categories', categories_path %> </li>
          </ul>
        </nav>
    </header>

						    <%= form_tag(search_results_path, method: "get") do %>
						      <%= label_tag(:query, "Search for:") %>
						      <%= text_field_tag(:query) %>
                  <%= select_tag(:queryc, options_for_select(Category.all.map{|cat| [cat.name, cat.id]})) %>
						      <%= submit_tag("Search") %>
						    <% end %>
<br><br>


    <%= yield %>
  </body>
</html>
